.header{
    height: 400px;
    color:rgb(238, 212, 165);
    width: 100%;
    background-color: rgb(59, 58, 58);
    background-image: url("../assets/img8.png");
   background-size: cover;
   background-position: center;
   margin: 0 auto;
}

.header__details{
    padding: 20px;
}
.header__details >h3{
    color: rgb(238, 212, 165);
    font-style: italic;
}
.header__details >h1{
    color: white;
    
}
.header__details > button {
    background-color:rgb(238, 212, 165);
    color:black;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
}
.header__details >button:hover{
    background-color: black;
    font-weight: 200;
    color: white;
    animation: ease-in-out;
    animation-duration: 5s;
}